<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>D:\Tools\maven\beree_repository</localRepository>
	
	<!--
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.codehaus.cargo</pluginGroup>
	</pluginGroups>
	-->
	
	<servers>
        <server>
            <id>releases</id>
			<username>admin</username>
			<password>admin123</password>
        </server>
        <server>
            <id>snapshots</id>
			<username>admin</username>
			<password>admin123</password>
        </server> 
    </servers>
	

	<distributionManagement>
        <repository>
            <id>releases</id>
            <url>http://192.168.2.88:8081/nexus/content/repositories/releases/</url>
        </repository>
        <snapshotRepository>
            <id>snapshots</id>
            <url>http://192.168.2.88:8081/nexus/content/repositories/snapshots/</url>
        </snapshotRepository>
	</distributionManagement>

	<repositories>
		<repository>
			<id>central</id>
			<url>http://192.168.2.88:8081/nexus/content/groups/public/</url>
			<name>beree</name>
		</repository>
    </repositories>
	
	<pluginRepositories>
		<pluginRepository>
			<id>central</id>
			<url>http://192.168.2.88:8081/nexus/content/groups/public/</url>
			<name>beree</name>
		</pluginRepository>
	</pluginRepositories>

	
	<proxies>
	<!-- proxy
	 | Specification for one proxy, to be used in connecting to the network.
	 |
	<proxy>
	  <id>optional</id>
	  <active>true</active>
	  <protocol>http</protocol>
	  <username>proxyuser</username>
	  <password>proxypass</password>
	  <host>proxy.host.net</host>
	  <port>80</port>
	  <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
	</proxy>
	-->
	</proxies>


   
	<mirrors>
		<!-- 远程仓库的镜像 -->
		 <mirror>
			  <id>nexus</id>
			  <name>Archiva Managed Internal Repository</name>
			  <url>http://192.168.2.88:8081/nexus/content/repositories/public/</url>
			  <mirrorOf>*</mirrorOf>
		</mirror>
		<!--  // 对snapshots有效 -->
		<mirror>
            <id>Nexus2</id>
            <url>http://192.168.2.88:8081/nexus/content/repositories/public/</url>
            <mirrorOf>snapshots</mirrorOf>
        </mirror>
		
	</mirrors>  

	<profiles>  
		<profile>
			<id>central</id>
			<repositories>
				<repository>
					<id>central</id>
					<name>Central</name>
					<url>http://*</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>  
                <pluginRepository>  
                    <id>central</id>  
                    <name>local private nexus</name>  
					<url>http://192.168.2.88:8081/nexus/content/groups/public/</url>  
                    <releases><enabled>true</enabled></releases>  
                    <snapshots><enabled>true</enabled></snapshots>  
                </pluginRepository>  
            </pluginRepositories>  

			<activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.8</jdk>
			</activation>
			<properties>
				<maven.compiler.source>1.8</maven.compiler.source>
				<maven.compiler.target>1.8</maven.compiler.target>
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
			</properties>
		</profile>
	</profiles> 

	<activeProfiles>
		<activeProfile>central</activeProfile>
	</activeProfiles>
	
</settings>
